<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="onMenuOpen()">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-icon name="person-circle-outline" style="margin-right: 5px;"></ion-icon>
            {{user}}
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item (click)="expand()" lines="none" detail="false">
            <ion-icon slot="start" name="sync-outline"></ion-icon>
            <ion-label>Sync Options</ion-label>
            <ion-icon slot="end" name="arrow-forward-outline" *ngIf="!expandSync"></ion-icon>
            <ion-icon slot="end" name="arrow-down-outline" *ngIf="expandSync"></ion-icon>
          </ion-item>

          <ion-item (click)="getSync()" detail="false" *ngIf="expandSync" style="margin-left: 15px;">
            <ion-label>My Sync</ion-label>
          </ion-item>

          <ion-item (click)="uploadSync()" detail="false" *ngIf="expandSync" style="margin-left: 15px;">
            <ion-label>Upload Sync</ion-label>
          </ion-item>

          <ion-item (click)="masterSync()" detail="false" *ngIf="expandSync" style="margin-left: 15px;">
            <ion-label>Master Sync</ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div class="lahi-version">
          <div class="web-version">Version : {{ appInfo.version }}</div>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>