content {
    position: relative;
    display: flex;
    z-index: 1;
    flex: 1 0 auto;
    // background-color:#6eb5d4;
    > *:not(router-outlet) {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        min-width: 100%;        
    }
}