<div id="vt-practical-assessment" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    VT PRACTICAL ASSESSMENTS
                    <a [routerLink]="['./']" class="refresh-data mt-24 mt-md-0">
                        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">refresh</mat-icon>
                    </a>
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter (keyup)="applySearchFilter($event.target.value)" placeholder="Search for a vt practical assessments">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="['./','new']" skipLocationChange="true" replaceUrl="false" class="add-vt-practical-assessment-button fuse-white mt-24 mt-md-0">
                <span>ADD</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="vt-practical-assessment-table" #table [dataSource]="tableDataSource" matSort fusePerfectScrollbar [fusePerfectScrollbarOptions]="{'suppressScrollX': false}">

                <!-- VTClassId Column -->
                <ng-container matColumnDef="ClassName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-sm fxShow.gt-md>Class Name</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment">
                        <p class="text-truncate">{{vtPracticalAssessment.ClassName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- AssessmentDate Column -->
                <ng-container matColumnDef="AssessmentDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-sm fxShow.gt-md>Assessment Date</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment">
                        <p class="text-truncate">{{vtPracticalAssessment.AssessmentDate}}</p>
                    </mat-cell>
                </ng-container>

                <!-- BoysPresent Column -->
                <ng-container matColumnDef="BoysPresent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Boys Present</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtPracticalAssessment.BoysPresent}}</p>
                    </mat-cell>
                </ng-container>

                <!-- GirlsPresent Column -->
                <ng-container matColumnDef="GirlsPresent">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Girls Present</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtPracticalAssessment.GirlsPresent}}</p>
                    </mat-cell>
                </ng-container>

                <!-- AssessorName Column -->
                <ng-container matColumnDef="AssessorName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Assessor Name</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtPracticalAssessment.AssessorName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- AssessorMobile Column -->
                <ng-container matColumnDef="AssessorMobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Assessor Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtPracticalAssessment.AssessorMobile}}</p>
                    </mat-cell>
                </ng-container>

                <!-- AssessorEmail Column -->
                <ng-container matColumnDef="AssessorEmail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Assessor Email</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtPracticalAssessment.AssessorEmail}}</p>
                    </mat-cell>
                </ng-container>

                <!-- IsActive Column -->
                <!-- <ng-container matColumnDef="IsActive">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-sm fxShow.gt-md>Is Active?</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="vtPracticalAssessment.IsActive" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!vtPracticalAssessment.IsActive" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef fxShow.gt-xs>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let vtPracticalAssessment" fxShow.gt-xs>
                        <button *ngIf="PageRights.IsView" mat-icon-button
                        [routerLink]="['/vt-practical-assessments', 'view', vtPracticalAssessment.VTPracticalAssessmentId]" skipLocationChange="true" replaceUrl="false">
                            <mat-icon color="primary">visibility</mat-icon>
                        </button>
                        <button *ngIf="PageRights.IsEdit" mat-icon-button
                        [routerLink]="['/vt-practical-assessments', 'edit', vtPracticalAssessment.VTPracticalAssessmentId]" skipLocationChange="true" replaceUrl="false">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDeleteVTPracticalAssessment(vtPracticalAssessment.VTPracticalAssessmentId)"
                            *ngIf="PageRights.IsDelete">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let vtPracticalAssessment; columns: displayedColumns;" class="vt-practical-assessment" matRipple>
                </mat-row>
            </mat-table>

            <mat-paginator #ListPaginator [length]="tableDataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
