<div id="vc-transfer" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2 subtitle">
                        <span>VC Transfer Details</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- ADD BUTTON -->
            <div class="action-buttons">
                <a [routerLink]="['./']" class="refresh-data mt-24 mt-md-0">
                    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">refresh</mat-icon>
                </a>
            </div>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <form name="vcTransferForm" [formGroup]="vcTransferForm" class="vc-transfer w-100-p" fxLayout="column"
                    fxFlex>
                    <div class="tab-content p-24">
                        <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                            fxLayoutGap.lt-md="0px">
                            <mat-form-field appearance="outline" fxFlex="35" fxFlex.lt-md="75" fxFlex.lt-sm="100">
                                <mat-label>Vocational Training Provider</mat-label>

                                <mat-select formControlName="FromVTPId" appearance="outline" required
                                    (selectionChange)="onChangeFromVTP($event.value)"
                                    matTooltip="Select Vocational Training Provider" matTooltipPosition='above'
                                    matTooltipClass="allow-cr" #SelectVTP>
                                    <mat-select-filter class="select-filter" *ngIf="SelectVTP.focused"
                                        [array]="fromVTPList" (filteredReturn)="this.filteredFromVTItems = $event"
                                        [displayMember]="'Name'"></mat-select-filter>
                                    <mat-option [value]="vtpItem.Id" *ngFor="let vtpItem of filteredFromVTItems">
                                        {{ vtpItem.Name }}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="vcTransferForm.controls.FromVTPId.invalid">
                                    {{getErrorMessage(vcTransferForm, 'FromVTPId')}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="75" fxFlex.lt-sm="100">
                                <mat-label>Vocational Coordinator</mat-label>

                                <mat-select formControlName="FromVCId" appearance="outline" required
                                    matTooltip="Select Vocational Coordinator" matTooltipPosition='above'
                                    matTooltipClass="allow-cr" #SelectVC>
                                    <mat-select-filter class="select-filter" *ngIf="SelectVC.focused"
                                        [array]="fromVCList" (filteredReturn)="this.filteredFromVCItems = $event"
                                        [displayMember]="'Name'"></mat-select-filter>
                                    <mat-option [value]="vcItem.Id" *ngFor="let vcItem of filteredFromVCItems">
                                        {{ vcItem.Name }}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="vcTransferForm.controls.FromVCId.invalid">
                                    {{getErrorMessage(vcTransferForm, 'FromVCId')}}
                                </mat-error>
                            </mat-form-field>

                            <button mat-raised-button class="search-button fuse-white mt-24 mt-md-0"
                                (click)="searchVCSchools()">
                                <span>Search VC Schools</span>
                            </button>

                            <button mat-raised-button class="submit-button fuse-white mt-24 mt-md-0"
                                (click)="saveVCTransfers()">
                                <span>Transfer VC</span>
                            </button>
                        </div>

                        <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                            fxLayoutGap.lt-md="0px">
                            <mat-label>List of Coordinator's Schools</mat-label>
                        </div>

                        <!-- CONTENT -->
                        <div class="content-card">

                            <table mat-table class="school-table responsive-table" [dataSource]="tableDataSource"
                                fusePerfectScrollbar [fusePerfectScrollbarOptions]="{'suppressScrollX': false}">

                                <!-- SrNo Column -->
                                <ng-container matColumnDef="SrNo">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Sr No
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool; let rowIndex = index">
                                        <p class="text-truncate">{{rowIndex + 1}}</p>
                                    </td>
                                </ng-container>

                                <!-- SectorName Column -->
                                <ng-container matColumnDef="SectorName">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Sector Name
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <p class="text-truncate">{{vcSchool.SectorName}}</p>
                                    </td>
                                </ng-container>

                                <!-- SchoolName Column -->
                                <ng-container matColumnDef="SchoolName">
                                    <th mat-header-cell *matHeaderCellDef>
                                        School Name
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <p class="text-truncate">{{vcSchool.SchoolName}}</p>
                                    </td>
                                </ng-container>

                                <!-- IsSelected Column -->
                                <ng-container matColumnDef="IsSelected">
                                    <th mat-header-cell *matHeaderCellDef class="mat-header-center">Is Transfer?
                                        <!-- <mat-checkbox (change)="onVCSchoolForTransfer($event, null)"></mat-checkbox> -->
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool" class="text-center">
                                        <mat-checkbox [checked]="vcSchool.IsSelected"
                                            (change)="onVCSchoolForTransfer($event, vcSchool)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <!-- To VTP Column -->
                                <ng-container matColumnDef="ToVTPId">
                                    <th mat-header-cell *matHeaderCellDef class="mat-header-center">To VTP</th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <mat-select appearance="outline" placeholder="Select VTP"
                                            [disabled]="!vcSchool.IsSelected" [required]="vcSchool.IsSelected"
                                            (selectionChange)="onChangeToVTP($event.value, vcSchool)">
                                            <mat-option [value]="vtpItem.Id" *ngFor="let vtpItem of fromVTPList">
                                                {{ vtpItem.Name }}
                                            </mat-option>
                                        </mat-select>
                                    </td>
                                </ng-container>

                                <!-- ToVCId Column -->
                                <ng-container matColumnDef="ToVCId">
                                    <th mat-header-cell *matHeaderCellDef class="mat-header-center">To VC</th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <mat-select appearance="outline" placeholder="Select VC"
                                            [disabled]="!vcSchool.IsSelected" [required]="vcSchool.IsSelected"
                                            (selectionChange)="onChangeToVC($event.value, vcSchool)">
                                            <mat-option [value]="vcItem.Id" *ngFor="let vcItem of vcSchool.ToVCList">
                                                {{ vcItem.Name }}
                                            </mat-option>
                                        </mat-select>
                                    </td>
                                </ng-container>

                                <!-- DateOfAllocation Column -->
                                <ng-container matColumnDef="DateOfAllocation">
                                    <th mat-header-cell *matHeaderCellDef class="mat-header-center">Date Of Allocation
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <mat-form-field appearance="outline">
                                            <input matInput [matDatepicker]="DateOfAllocation" name="DateOfAllocation"
                                                (dateChange)="onChangeDOA($event.value,vcSchool)"
                                                [disabled]="!vcSchool.IsSelected" [required]="vcSchool.IsSelected">
                                            <mat-datepicker-toggle matSuffix
                                                [for]="DateOfAllocation"></mat-datepicker-toggle>
                                            <mat-datepicker #DateOfAllocation></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <!-- DateOfJoining Column -->
                                <ng-container matColumnDef="DateOfJoining">
                                    <th mat-header-cell *matHeaderCellDef class="mat-header-center">Date Of Joining</th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <mat-form-field appearance="outline">
                                            <input matInput [matDatepicker]="DateOfJoining" name="DateOfJoining"
                                                (dateChange)="onChangeDOJ($event.value,vcSchool)"
                                                [disabled]="!vcSchool.IsSelected" [required]="vcSchool.IsSelected">
                                            <mat-datepicker-toggle matSuffix
                                                [for]="DateOfJoining"></mat-datepicker-toggle>
                                            <mat-datepicker #DateOfJoining></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                </ng-container>

                                <!-- Remarks Column -->
                                <ng-container matColumnDef="Remarks">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Remarks
                                    </th>
                                    <td mat-cell *matCellDef="let vcSchool">
                                        <p class="text-truncate">{{vcSchool.Remarks}}</p>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                                <tr mat-row *matRowDef="let vcSchool; columns: displayedColumns; let i = index"
                                    matRipple>
                                </tr>
                            </table>
                            <mat-paginator #ListPaginator [length]="tableDataSource.filteredData.length" [pageIndex]="0"
                                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                        <!-- / CONTENT -->
                    </div>
                </form>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>