<div id="division" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/divisions'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="PageRights.PageType ==='Edit'">
                        {{ divisionModel.Name }}
                    </div>
                    <div class="h2" *ngIf="PageRights.PageType ==='New'">
                        New Division
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Division Details</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="add-division-button" [disabled]="divisionForm.invalid"
                *ngIf="PageRights.ActionType ==='new'" (click)="saveOrUpdateDivisionDetails()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-division-button" *ngIf="PageRights.ActionType ==='edit'"
                (click)="saveOrUpdateDivisionDetails()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="divisionForm" [formGroup]="divisionForm" class="division w-100-p" fxLayout="column" fxFlex>
                    <!-- <mat-tab label="Basic Info"> -->
                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                            fxLayoutGap.lt-md="0px">

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="25" fxFlex.lt-sm="100">
                                <mat-label>State</mat-label>
                                <mat-select name="stateName" formControlName="StateCode" required [disabled]="true">
                                    <mat-option *ngFor="let stateItem of stateList" [value]="stateItem.Id">
                                        {{stateItem.Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="divisionForm.controls.StateCode.invalid">
                                    {{getErrorMessage(divisionForm, 'StateCode')}}
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-md="75" fxFlex.lt-sm="100">
                                <mat-label>Division Name</mat-label>
                                <input matInput name="divisionName" formControlName="DivisionName" required>
                                <mat-error *ngIf="divisionForm.controls.DivisionName.invalid">
                                    {{getErrorMessage(divisionForm, 'DivisionName')}}
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayout.lt-md="column" class="input-row" fxLayoutGap="10px"
                            fxLayoutGap.lt-md="0px">
                            <mat-form-field appearance="outline" fxFlex="100" fxFlex.lt-md="75" fxFlex.lt-sm="100">
                                <mat-label>Description</mat-label>
                                <input matInput name="description" formControlName="Description">
                                <mat-error *ngIf="divisionForm.controls.Description.invalid">
                                    {{getErrorMessage(divisionForm, 'Description')}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayout.lt-md="column" class="input-row radio-option-height"
                            fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                            <span class="checkbox-space">Is Active?</span>
                            <mat-checkbox matInput formControlName="IsActive" [disabled]="PageRights.IsReadOnly">
                            </mat-checkbox>
                        </div>
                    </div>
                    <!-- </mat-tab>
                    </mat-tab-group> -->
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>