#course-module {
    .header {
        .subtitle {
            margin: 6px 0 0 0;
            color:black !important;
        }
    }

    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }

        .checkbox-space {
            margin-left: 3px;
            margin-right: 15px;
            padding-top: 3px;
        }

        .mat-form-field-infix > .mat-input-element:disabled {
            color: #3c4252 !important;
        }

        .add-session {
            font-size: 38px;
            color: royalblue;
            margin-bottom: 15px;
            margin-left: 7px;
        }

        .remove-session {
            font-size: 24px;
            color: red;
            margin-bottom: 0px;
            margin-left: 15px;
        }

        .add-session:hover, .remove-session:hover {
            cursor: pointer;
        }

        .mat-list > .mat-list-item:nth-child(2n+1) {
            background-color:#f3f3f3;
        }
          
        .mat-list > .mat-list-item:nth-child(2n) {
            background-color:#e0e0e094;
        }

       
    }
}
