<div id="vt-field-industry-visit-conducted" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    VT FIELD INDUSTRY VISIT APPROVAL
                    <a [routerLink]="['./']" class="refresh-data mt-24 mt-md-0">
                        <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">refresh</mat-icon>
                    </a>
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter (keyup)="applySearchFilter($event.target.value)"
                        placeholder="Search for a vt field industry visit conducteds">
                </div>
            </div>
            <!-- / SEARCH -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="vt-field-industry-visit-conducted-table" #table [dataSource]="tableDataSource" matSort
                fusePerfectScrollbar [fusePerfectScrollbarOptions]="{'suppressScrollX': false}">

                <!-- VTClassId Column -->
                <ng-container matColumnDef="ClassName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-sm fxShow.gt-md>Class Name
                    </mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted">
                        <p class="text-truncate">{{vtFieldIndustryVisitConducted.ClassName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ReportingDate Column -->
                <ng-container matColumnDef="ReportingDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.lt-sm fxShow.gt-md>Reporting Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted">
                        <p class="text-truncate">
                            {{vtFieldIndustryVisitConducted.ReportingDate | date: Constants.ShortDateFormat }}</p>
                    </mat-cell>
                </ng-container>

                <!-- FVOrganisation Column -->
                <ng-container matColumnDef="FVOrganisation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Field Visit
                        Organisation</mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtFieldIndustryVisitConducted.FVOrganisation}}</p>
                    </mat-cell>
                </ng-container>

                <!-- FVContactPersonName Column -->
                <ng-container matColumnDef="FVContactPersonName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>FV Contact Person
                    </mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtFieldIndustryVisitConducted.FVContactPersonName}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ApprovalStatus Column -->
                <ng-container matColumnDef="ApprovalStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Approval Status
                    </mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{vtFieldIndustryVisitConducted.ApprovalStatus}}</p>
                    </mat-cell>
                </ng-container>

                <!-- ApprovedDate Column -->
                <ng-container matColumnDef="ApprovedDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Approved Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted" fxHide fxShow.gt-xs>
                        <p class="text-truncate">
                            {{vtFieldIndustryVisitConducted.ApprovedDate | date: Constants.ShortDateFormat }}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <mat-header-cell *matHeaderCellDef fxShow.gt-xs>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let vtFieldIndustryVisitConducted" fxShow.gt-xs>
                        <button *ngIf="PageRights.IsView" mat-icon-button
                            [routerLink]="['/vt-field-industry-visit-conducted', 'view', vtFieldIndustryVisitConducted.VTFieldIndustryVisitConductedId]"
                            skipLocationChange="true" replaceUrl="false">
                            <mat-icon color="primary">visibility</mat-icon>
                        </button>
                        <button *ngIf="vtFieldIndustryVisitConducted.ApprovalStatus == null" mat-icon-button
                            (click)="saveOrUpdateVTFieldIndustryVisitApprovalDetails('Approved', vtFieldIndustryVisitConducted.VTFieldIndustryVisitConductedId)">
                            <mat-icon color="primary">check</mat-icon>
                        </button>
                        <button *ngIf="vtFieldIndustryVisitConducted.ApprovalStatus == null" mat-icon-button
                            (click)="saveOrUpdateVTFieldIndustryVisitApprovalDetails('Rejected', vtFieldIndustryVisitConducted.VTFieldIndustryVisitConductedId)">
                            <mat-icon color="primary">close</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let vtFieldIndustryVisitConducted; columns: displayedColumns;"
                    class="vt-field-industry-visit-conducted" matRipple>
                </mat-row>
            </mat-table>

            <mat-paginator #ListPaginator [length]="tableDataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>