#data-upload {
    .header {
        .subtitle {
            margin: 6px 0 0 0;
            color:black !important;
        }
    }

    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .action-btn {
            font-size: 38px;
            color: royalblue;
            margin-bottom: 15px;
            margin-left: 7px;
        }
    
        .action-btn:hover {
            cursor: pointer;
        }
    
    }
}
